@font-face {
  font-family: 'Honoka';
  src: url('../fonts/honoka-maru.ttf');
}

@keyframes haloRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#scene-born {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: bottom;
  background-image: url(materials/background.svg);
  background-size: cover;
}

#scene-born .hime {
  position: absolute;
  left: 37.7%;
  bottom: -2%;
  width: 24.7%;
}

#scene-born .halo {
  position: relative;
  top: -5%;
  height: 110%;
  animation: haloRotation 10s infinite linear;
}

#scene-born span {
  font-family: 'Honoka', serif;
  font-size: 35px;
  writing-mode: vertical-rl;
  mask: linear-gradient(white 0%, transparent 100%) top;
  mask-size: 100% 0%;
  filter: blur(0.3em);
  animation: revealText 4s forwards,
             dropBlur 2s forwards;
}

@keyframes revealText {
  to { mask-size: 100% 500%; }
}
@keyframes dropBlur {
  to { filter: blur(0px); }
}

#scene-born .right {
  position: absolute;
  right: 10%;
  top: 12%;
}

#scene-born .left {
  position: absolute;
  left: 10%;
  top: 40%;
  animation-delay: 1.6s, 1.6s;
}
