@font-face {
  font-family: 'Honoka';
  src: local(Honoka-Maru-Gothic),
       url('../fonts/honoka-maru.ttf');
}

#scene-born {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: bottom;
  background-image: url(materials/background.svg);
  background-size: cover;
}

#scene-born .hime {
  position: absolute;
  left: 37.7%;
  bottom: -2%;
  width: 24.7%;
}

#scene-born .halo {
  position: relative;
  top: -5%;
  height: 110%;
  animation: haloRotation 10s infinite linear,
             fadeOut 1s 4s forwards;
}

@keyframes haloRotation {
  to { transform: rotate(360deg) }
}

@keyframes fadeOut {
  to { opacity: 0 }
}

#scene-born span {
  font-family: 'Honoka', serif;
  font-size: 30px;
  font-weight: 500;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-mask-image: linear-gradient(white 0%, transparent 100%);
  -webkit-mask-size: 100% 1px;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(white 0%, transparent 100%);
  mask-size: 100% 0%;
  mask-repeat: no-repeat;
  filter: blur(0.3em);
  animation: revealText 4s forwards,
             dropBlur 2s forwards;
}

@keyframes revealText {
  to {
    -webkit-mask-size: 100% 500%;
    mask-size: 100% 500%;
  }
}
@keyframes dropBlur {
  to { filter: blur(0px); }
}

#scene-born .right {
  position: absolute;
  right: 12%;
  top: 12%;
}

#scene-born .left {
  position: absolute;
  left: 12%;
  top: 40%;
  animation-delay: 1.6s, 1.6s;
}
