#scene-lady {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc7de;
}

#scene-lady .hime {
  width: 25%;
  z-index: 1;
}

#scene-lady .hana {
  position: absolute;
  background-image: url(materials/lady-hana.svg);
  background-size: cover;
  width: 100px;
  height: 100px;
}