@keyframes girl-background {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

#scene-girl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbc4;
}

#scene-girl .koushi {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  background-image: url(materials/girl-koushi.svg);
  background-size: contain;
  background-position-y: 50%;
  animation: girl-background 2s infinite linear;
}

#scene-girl .hime {
  width: 25%;
  z-index: 1;
}