@keyframes grow-slide-in {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes grow-slide-out {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

#scene-baby {
  animation: grow-slide-out 2s 4s forwards;
}

#scene-girl {
  transform: translate(100%);
  animation: grow-slide-in 2s 4s forwards,
             grow-slide-out 2s 8s forwards;
}

#scene-lady {
  transform: translate(100%);
  animation: grow-slide-in 2s 8s forwards;
}

@keyframes grow-dropBlur {
  to { filter: blur(0px); }
}

@keyframes grow-show {
  to { opacity: 1; }
}

#scene-grow p:lang(ja) {
  writing-mode: vertical-rl;
}

#scene-grow p span {
  position: absolute;
  opacity: 0;
  filter: blur(0.5rem);
  animation: grow-dropBlur 2s 3s ease-out forwards,
             grow-show 1s 3s ease-out forwards;
}

#scene-grow p span:nth-child(1) {
  top: 15%;
  right: 15%;
}

#scene-grow p span:nth-child(2) {
  top: 25%;
  right: calc(15% + 1.5em);
}
