/*
 * Overall styling
 */
@font-face {
  font-family: 'Honoka';
  src: url('../fonts/honoka-maru.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Honoka', serif;
  background-color: #bdf5e0;
}

/*
 * Scene transitions
 */

@keyframes slide-in {
  to { transform: translate(0) }
}

@keyframes slide-out {
  from { transform: translate(0) }
  to { transform: translate(-1280px) }
}

/*
 * Text transitions
 */

@keyframes drop-blur {
  to { filter: blur(0px); }
}

@keyframes reveal-text {
  to { mask-size: 100% 300%; }
}

@keyframes fade-out {
  to { opacity: 0 }
}

p:lang(ja) {
  writing-mode: vertical-rl;
}

p span {
  filter: blur(0.5rem);
  mask: linear-gradient(white 0%, transparent 100%) top;
  mask-size: 100% 0%;
  font-size: 30px;
  font-weight: 500;
  animation: drop-blur 3s 1s ease-out forwards,
             reveal-text 3.5s 1.5s ease-out forwards;
}

#intro-text span {
  position: absolute;
}

#intro-text span:nth-child(1) {
  top: 15%;
  right: 15%;
}

#intro-text span:nth-child(2) {
  top: 25%;
  right: calc(15% + 1.5em);
  animation-delay: 2s, 2.5s;
}

#intro-text {
  animation: fade-out 0.01s 10.8s forwards step-start;
}

#ending-text-1 span, #ending-text-2 span {
  display: block;
  margin-right: 8px;
}

#ending-text-1 {
  position: absolute;
  top: 128px;
  right: 190px;
}

#ending-text-1 span:nth-child(1) {
  animation-delay: 12s;
}
#ending-text-1 span:nth-child(2) {
  animation-delay: 12.25s;
}
#ending-text-1 span:nth-child(3) {
  animation-delay: 12.5s;
}
#ending-text-1 span:nth-child(4) {
  animation-delay: 12.75s;
}

#ending-text-2 {
  position: absolute;
  top: 128px;
  left: 140px;
}

#ending-text-2 span:nth-child(1) {
  animation-delay: 13.5s;
}
#ending-text-2 span:nth-child(2) {
  animation-delay: 13.75s;
}

#ending-text-2 span:nth-child(3) {
  animation-delay: 14s;
}

#ending-text-2 span:nth-child(4) {
  animation-delay: 14.25s;
}

/*
 * Baby scene
 */

#scene-baby {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-out 2s 5s forwards;
}

#bg .nami {
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  width: 4000px;
  transform: translate(1280px);
  background-image: url(materials/nami.svg);
  background-size: contain 80%;
  background-position-y: 50%;
  background-repeat: repeat-x;
  animation: slide-nami-beginning 1s 1s linear forwards,
             slide-nami 30s 2s linear forwards 0.25;
}

@keyframes slide-nami-beginning {
  to { transform: translate(0px); }
}

@keyframes slide-nami {
  from { transform: translate(0px); }
  to { transform: translate(-4000px); }
}

#scene-baby .hime {
  position: relative;
  width: 20%;
}

#scene-baby .take-hidari {
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 20%;
  animation: baby-take-hidari 1s ease-in both;
}

#scene-baby .take-migi {
  position: absolute;
  right: 30%;
  bottom: 0;
  width: 20%;
  animation: baby-take-migi 1.5s ease-out both;
}

@keyframes baby-take-hidari {
  from { transform: translate(85px, -78px) rotate(25deg) scale(1.36) }
  to { transform: translate(-150px, 100%) rotate(-45deg) scale(1) }
}

@keyframes baby-take-migi {
  from { transform: translate(-75px, -31px) rotate(-20.9deg) scale(1.36) }
  to { transform: translate(150px, 100%) rotate(45deg) scale(1) }
}

/*
 * Girl scene
 */

@keyframes girl-background {
  from { background-position: 100%; }
  to { background-position: 0%; }
}

#scene-girl, #bg .koushi {
  transform: translate(100%);
}

#scene-girl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-in 2s 5s forwards,
             slide-out 2s 10s forwards;
}

#scene-girl .hime {
  width: 25%;
  z-index: 1;
}

#bg .koushi {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  background-image: url(materials/koushi.svg);
  background-size: contain;
  background-position-y: 50%;
  background-color: #fffbc4;
  animation: girl-background 6s infinite linear,
             slide-in 2s 5s forwards,
             slide-out-koushi 2s 10s forwards;
}

@keyframes slide-out-koushi {
  from { transform: translate(0) }
  to { transform: translate(-100%) }
}

/*
 * Lady scene
 */

#scene-lady {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene-lady .hime {
  width: 25%;
  z-index: 1;
}

#scene-lady .hana {
  position: absolute;
  background-image: url(materials/lady-hana.svg);
  background-size: cover;
  width: 100px;
  height: 100px;
}

#bg .hanas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffc7de;
}

#scene-lady, #bg .hanas {
  transform: translate(100%);
  animation: slide-in 2s 10s forwards;
}
