@keyframes axIntroAnim {
  from { bottom: -200px; }
  to { bottom: 200px; }
}

@keyframes axSwing {
  from { transform: rotate(-25deg); }
  to { transform: rotate(0deg); }
}

@keyframes glitch {
  0%  { transform: translate(0); }
  20% { transform: translate(-40px, 40px); }
  40% { transform: translate(-40px, -40px); }
  60% { transform: translate(40px, 40px); }
  80% { transform: translate(40px, -40px); }
  to {  transform: translate(0); }
}

@keyframes glitch2 {
  0%  { transform: translate(0); }
  20% { transform: translate(40px, -40px); }
  40% { transform: translate(40px, 40px); }
  60% { transform: translate(-40px, -40px); }
  80% { transform: translate(-40px, 40px); }
  to {  transform: translate(0); }
}

#scene-ax-vs-bamboo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: bottom;
  background-image: url(materials/bg-color-export.svg);
  background-size: cover;
}

.bamboo {
  position: absolute;
  height: 340.47px;
  width: 75px;
  left: 44%;
  bottom: 240px;
  transition: all 1.5s linear;
}

.bamboo-back1, .bamboo-back2, bamboo-back3, bamboo-back4 {
  mix-blend-mode: multiply;
}

.run-bamboo-back1-anim {
  animation: glitch 400ms 1100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}
.run-bamboo-back2-anim {
  animation: glitch 400ms 1100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.run-bamboo-back3-anim {
  animation: glitch2 400ms 1100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}
.run-bamboo-back4-anim {
  animation: glitch2 400ms 1100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#scene-ax-vs-bamboo .ax {
  position: absolute;
  width: 18%;
  bottom: -200px;
  left: 55%;
  transition: bottom 1.5s;
  transform-origin: 0 100%;
}

.run-ax-anim {
  animation: axSwing 400ms 2 700ms linear alternate-reverse;
}

#dummy {
  animation: axSwing 1ms 6000ms;
}