body {
  overflow: hidden;
}

@keyframes axIntro {
    from { bottom: -200px; }
    to   { bottom: 70px; }
}

@keyframes axSwing {
  from { transform: rotate(-25deg); }
  to { transform: rotate(0deg); }
}

@keyframes bambooIntro {
  from {
    height: 340px;
    width: 75px;
    left: 630px;
    bottom: 240px;
  }
  to {
    height: 700px;
    width: 130px;
    left: 595px;
    bottom: 0px;
  }
}

@keyframes glitch {
  0%  { transform: translate(0); }
  33% { transform: translate(40px, -10px); }
  66% { transform: translate(-40px, 10px); }
  to  { transform: translate(0); }
}

@keyframes glitch2 {
  0%  { transform: translate(0); }
  33% { transform: translate(40px, 10px); }
  66% { transform: translate(-40px, -10px); }
  to  { transform: translate(0); }
}

#scene-ax-vs-bamboo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: bottom;
  background-image: url(materials/bg-color-export.svg);
  background-size: cover;
}

.bamboo {
  position: absolute;
  height: 700px;
  width: 130px;
  left: 595px;
  bottom: 0px;
  animation: bambooIntro 1.5s forwards;
}

.bamboo-back1, .bamboo-back2, .bamboo-back3, .bamboo-back4 {
  position: absolute;
  mix-blend-mode: multiply;
  height: 695px;
  width: 123px;
  left:  599px;
  bottom: 2px;
  display: none;
}

.bamboo-back1 {
  animation: glitch 0.4s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse,
             glitch 0.4s 2.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse,
             glitch 0.4s 4.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
}
.bamboo-back2 {
  animation: glitch 0.4s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
             glitch 0.4s 2.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
             glitch 0.4s 4.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.bamboo-back3 {
  animation: glitch2 0.4s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse,
             glitch2 0.4s 2.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse,
             glitch2 0.4s 4.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
}
.bamboo-back4 {
  animation: glitch2 0.4s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
             glitch2 0.4s 2.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
             glitch2 0.4s 4.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ax {
  position: absolute;
  width: 18%;
  bottom: -200px;
  left: 55%;
  transform-origin: 0 100%;

  animation: axIntro 1.5s linear forwards,
             axSwing 0.4s 2 2.2s linear alternate-reverse,
             axSwing 0.4s 2 3.7s linear alternate-reverse,
             axSwing 0.4s 2 5.2s linear alternate-reverse;
}

#dummy {
   transition: margin-left 1.5s;
}
